.realtor {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;

    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-row-gap: 2rem;

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 1.5rem;
        grid-row-gap: 5vh;
        align-items: center;
    }

    &__text {
        text-transform: uppercase;
        color: $color-grey-dark-2;
    }

    &__img {
        width: 100%;
        border-radius: 50%;
        width: 7rem;
        display: block;
    }
}